<html>
    <head>
        <title>Csv Uploader</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body{
                margin10px;
            }
        </style>
    </head>
    <body>
        <h1>The answer is @ViewBag.Answer</h1>
    </body>
</html>
