@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <head>
        <title>Csv Uploader</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            body{
                margin10px;
            }
        </style>
    </head>
    <body>
        <h1>Select File</h1>
        <form asp-action="Upload" enctype="multipart/form-data">
            <input type="file" name=file />
            <br/>
            <button type="submit">Upload</button>
        </form>
    </body>
</html>
